<div (click)="closeInfosCarToFinancing()" class="container-fees">
  <div class="title primary-color">
    Custo efetivo total (CET)
  </div>
  <div class="container-infos">
    <div class="sub-title">
      Tarifa de cadastro: R$ 0,00<br>
    </div>
  </div>
  <div class="container-infos">
    <div class="sub-title">
      Tarifa de cadastro: R$ 0,00
    </div>
    <div class="descirbe">
      Tarifa cobrada para avaliação de veículos usados<br>
    </div>
  </div>
  <div class="container-infos">
    <div class="sub-title">
      Registro de contrato: R$ 120,91
    </div>
    <div class="descirbe">
      Referente ao estado de São Paulo, podendo variar conforme a UF<br>
    </div>
  </div>
  <div class="container-infos">
    <div class="sub-title">
      IOF de R$ 1.519,04<br>
    </div>
    <div class="descirbe">
      Imposto sobre Operações Financeiras é um imposto federal pago por pessoas físicas e jurídicas em qualquer operação financeira<br>
    </div>
  </div>
  <div class="container-infos">
    <div class="sub-title">
      Taxa de juros<br>
    </div>
    <div class="descirbe">
      ao mês: ≅1,58%<br>ao ano: 20,70%
    </div>
  </div>
  <div class="container-infos">
    <div class="sub-title">
      Valor total financiado: ≅ R$ 48.639,95<br>
    </div>
    <div class="descirbe">
      Valor total do veículo sem o valor de entrada, com adição dos impostos e tarifas
    </div>
  </div>
  <div class="container-infos">
    <div class="sub-title">
      Soma total a pagar: ≅ R$ 118.295,84<br>
    </div>
    <div class="descirbe">
      Soma total a pagar: ≅ R$ 118.295,84
    </div>
  </div>
</div>
