<div class="principal-container">
  <div class="cars-financing-container background-primary-color container-show-and-hide">
    <!-- <div class="cars-financing-container background-primary-color"> -->
    <div class="container-logo">
      <img src="assets/itau-logo.png" alt="Logo Itáu">
    </div>
  </div>
  <div class="container-desktop">
    <div class="container-infos-car">
      <app-infos-car-financing></app-infos-car-financing>
    </div>
    <div class="container-router-infos">
      <router-outlet style="display: none;"></router-outlet>
    </div>

  </div>
</div>
