/* You can add global styles to this file, and also import other style files */
$--white:           #FFFFFF;
$--btn-disabled:    #CCCCCC;
$--all-text-color:  #707070;
$--secondary-color: #FF8519;
$--primary-color:   #ED6F00;
